language: python
python:
    - 3.6
services: sqlite

env:
    - DJANGO_VERSION=2.0.0

install:
    - pip install -q Django==$DJANGO_VERSION
    - pip install -r requirements.txt

scripts:
    - python3 manage.py test
